{{ $scratch := .Page.Scratch }}
{{ range .Site.RegularPages }}
  {{ $categories := .Params.categories}}
  {{ range $index, $category := $categories }}
    {{ $parentCategory := (index $categories (sub $index 1))}}
    {{ if ne $index 0 }}
      {{ $scratch.SetInMap "parent" ($category | lower) ($parentCategory | lower)}}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "categorylist" }}
  {{ $page := .Page}}
  {{ $scratch := .Page.Scratch }}
  {{ $scope := newScratch }}
  {{/* Collect categories to show in this scope */}}
  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    {{ $conditionForRoot := (and (eq ($scratch.Get "parentCategory") nil) (not (isset ($scratch.Get "parent") $name)))}}
    {{ $conditionForChild := false }}
    {{ if (and (ne ($scratch.Get "parentCategory") nil) (isset ($scratch.Get "parent") $name) )}}{{/* nil check */}}
      {{ $conditionForChild = (eq ($scratch.Get "parentCategory") (index ($scratch.Get "parent") $name))}}
    {{ end }}
    {{if or $conditionForRoot $conditionForChild}}
      {{$scope.Add "toShow" (slice $name)}}
    {{ end }}
  {{ end }}
  {{ if ne ($scope.Get "toShow") nil}}
    <ul>
      {{- range $name, $taxonomy := .Site.Taxonomies.categories }}
        {{- if in ($scope.Get "toShow") $name }}
          {{- with $.Site.GetPage (printf "/categories/%s" $name) }}
            <li class="list-item">
              <a href="{{ .Permalink }}">{{ $taxonomy.Page.Title }}</a>
              <span class="list-count">{{ $taxonomy.Count}}</span>
            </li>
          {{- end }}
          {{ $scratch.Set "parentCategory" $name }}
          {{ template "categorylist" $page }}
        {{- end }}
      {{- end }}
    </ul>
  {{ end }}
{{ end }}

<aside class="widget">
  <h3 class="widget-title"> {{ T "widget_categories" }}</h3>
  <div class="widget-body">
    {{ $scratch.Set "parentCategory" nil}}
    {{ template "categorylist" . }}
  </div>
</aside>
