<nav>
  <div>
    {{- if (or (.Prev) (.Next)) }}
    <ul class="nav-page">
      {{- with .Prev}}
      <li class="nav-prev">
        <a href="{{- .Permalink }}" title="{{- .Title }}">
          <i class="fas fa-angle-left" aria-hidden="true"></i>
          <span>{{T "nav_older" }}</span> - <span>{{ .Name }}</span>
        </a>
      </li>
      {{- end }}
      {{- with .Next }}
      <li class="nav-next">
        <a href="{{- .Permalink }}" title="{{- .Title }}">
          <span>{{T "nav_newer" }}</span> - <span>{{ .Name }}</span>
          <i class="fas fa-angle-right" aria-hidden="true"></i>
        </a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
  </div>
</nav>
