{{- define "main"}}
  <main id="content" class="content column
        is-offset-2-widescreen is-8-widescreen
        is-offset-0-desktop is-9-desktop
        is-offset-0-tablet is-12-tablet" role="main">
    <div>
      {{ range .Paginator.Pages }}
        {{- partial "summary.html" . }}
      {{- end -}}
    </div>
    {{- partial "pagination.html" . }}
  </main>
  <div class="column
        is-2-widescreen
        is-3-desktop
        is-offset-0-tablet is-12-tablet">
    {{- partial "sidebar.html" . -}}
  </div>
{{- end }}
