/* global settings */
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: linear-gradient(-15deg,#ffe7f3,#f9f9f9,#f9f9f9,#f9f9f9);
  background-attachment: fixed;

  font-weight: 300;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.columns{
  margin-left: 0px;
  margin-right: 0px;
}

a {
  color: #666;
  border: 0;
  line-height: 32px;
  padding: 0;
}

a:hover {
  color: rgb(24, 188, 238);
  background-color: transparent;
}

strong {
    color: rgb(110, 72, 81);
}

.site-title {
  margin-top: 12px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.header-image {
  width: 100%;
  text-align: center;
  margin: auto auto 3rem;
}
.header-image img {
  max-width: 1080px;
  width: 100%;
  height: auto;
  vertical-align: middle;
  margin: auto;
}

nav.header-navigation {
  margin-bottom: 1rem;
}
nav.header-navigation ul {
  text-align: center;
}
nav.header-navigation ul li {
  display: inline-block;
  margin: 20px 1em;
  padding: 0.1em 2em;
  border-radius: 40px;
  box-shadow: 6px 6px 14px rgba(170, 55, 109, 0.15),
              -7px -7px 18px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, .2),
              inset 7px 7px 15px rgba(170, 55, 109, 0),
              inset -7px -7px 20px rgba(255, 255, 255, 0),
              0px 0px 4px rgba(255, 255, 255, 0) !important;
}
nav.header-navigation ul li:hover {
  box-shadow: 6px 6px 14px rgba(170, 55, 109, .15),
              -7px -7px 18px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, 0),
              inset 7px 7px 15px rgba(170, 55, 109, .15),
              inset -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.footer {
  box-shadow: inset 0px 4px 4px  rgba(170, 55, 109, 0.15),
             inset 0px -4px 4px rgba(255,255,255,0.9);
  background: linear-gradient(#fff4, #ffff);
}

nav.footer-navigation ul {
  text-align: center;
}

/* articles */
article {
  border-radius: 6px;
  box-shadow: 3px 3px 4px  rgba(170, 55, 109, 0.15),
             -3px -3px 4px rgba(255,255,255,0.9);
  margin: 1em 0.5em 2em;
}

@media (max-width: 659px) {
  article {
    margin: 1em 0em 2em;
  }
}

.article-header{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #fff6;
  padding: 1em 2em;
}


.article-meta{
  font-size: 80%;
  border-radius: 6px;
  box-shadow: inset 2px 2px 5px  rgba(170, 55, 109, 0.15),
              inset -2px -2px 5px rgba(255, 255, 255, 0.9);
  padding: 0.25em 2em;
  font-weight: 400;
}

.article-meta-item{
  margin-right: 1em;
}

.article-entry{
  padding: 2em 2em;
  background-color: #fff4;
  line-height: 1.7;
}
@media (max-width: 659px) {
  .article-entry{
    padding: 2em 1.5em;
  }
}

.article-entry p a, .article-continue a {
  color: rgb(29, 134, 167);
  background-color: transparent;
}
.article-entry p a:hover, a:hover .article-continue {
  text-decoration: underline;
}

.article-entry .xToc {
  border: 2px solid white;
}

.article-continue {
  color: rgb(29, 134, 167);
  margin-top: 1em;
  margin-bottom: -1em;
  font-size: 110%;
  font-weight: 700;
  padding: 6px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.article-continue:hover {
  box-shadow: 2px 2px 4px rgba(170, 55, 109, .15),
              -2px -2px 6px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, 0),
              inset 7px 7px 15px rgba(170, 55, 109, .15),
              inset -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2) !important;
}

.article-footer{
  box-shadow:  -5px -5px 10px rgba(255, 255, 255, 0.9);
  padding: 1em 2em;
}

pre {
  background-color: #fffc;
}

.content h1 {
  color: #23111EBB;
  margin: auto;
  font-size: 1.75em;
  font-weight: 400;
}
.content h2 {
  margin: 0.5em -0.5em;
  padding: 0.4em 0.5em;
  border-radius: 5px;
  box-shadow: 2px 2px 3px  rgba(170, 55, 109, 0.15),
              -2px -2px 3px rgba(255, 255, 255, 0.9);
}
.content h3 {
  color: rgb(170, 73, 94);
  border-bottom: solid 2px rgb(170, 73, 94);
}
.content h4, .content h5, .content h6 {
  color: rgb(170, 73, 94);
}

.image img, .content img{
  width: 80%;
  margin: auto;
}

.toc {
  font-weight: 300;
}
.toc .is-active-link {
  font-weight: 700;
}
.toc .node-name--H3  {
  font-size: 85%;
}


.xToc {
  background-color: #fff9;
  width: auto;
  margin: auto auto 3em 5%;
  padding: 1em 2em;
  line-height: 100%;
}
.xToc .xToc_title{
  font-weight: 700;
  font-size: 125%;
}
.xToc li a {
  line-height: 125%;
  font-size: 85%;
  font-weight: 300;
}
.xToc figure.wp-block-image {
  margin: 0px;
}

/* side widget */
aside {
  border-radius: 10px;
  background: #ff008006;
  box-shadow: inset 4px 4px 4px  rgba(170, 55, 109, 0.15),
              inset -4px -4px 6px rgba(255, 255, 255, 0.9);
  margin: 1em 0.5em 2em;
  padding: 1em 2em;
  font-size: 1rem;
  font-weight: 400;
}

.widget-title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.widget-body ul li * {
  line-height: 1.75;
  font-size: 85%;
}

ul ul {
    margin-left: 1em;
}

.list-count, .list-date {
  padding-left: 5px;
  color: #999;
  font-size: 75%;
  font-weight: 300;
}

.list-count:before, .list-date:before {
  content: "(";
}

.list-count:after, .list-date:after {
  content: ")";
}

.toc {
  padding: 32px;
}
.toc.is-position-fixed {
  width: 18%;
}
.toc ol {
  margin: auto;
}
.is-active-link::before {
  background-color: rgb(24, 188, 238) !important;
}

ul.list-tags li {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}

ul.list-tags li .tag {
  border-radius: 3px;
  background-color: #fff3;
  box-shadow: 2px 2px 4px rgba(170, 55, 109, 0.15),
              -2px -2px 6px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, .2),
              inset 7px 7px 15px rgba(170, 55, 109, 0),
              inset -7px -7px 20px rgba(255, 255, 255, 0),
              0px 0px 4px rgba(255, 255, 255, 0) !important;
}

ul.list-tags li:hover .tag  {
  box-shadow: 2px 2px 4px rgba(170, 55, 109, .15),
              -2px -2px 6px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, 0),
              inset 7px 7px 15px rgba(170, 55, 109, .15),
              inset -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2) !important;
}


/* for share button */

ul#share-button {
  clear: both;
  padding: 0px;
  margin: auto;
  display: flex;
  justify-content: center;
}

ul#share-button:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul#share-button li.share-button {
  width: 3em;
  float: left;
  padding: 0px;
  margin: 0px 2% 0px 0px;
  list-style-type: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px  rgba(185, 162, 167, 0.4),
              -2px -2px 4px rgba(255,255,255,0.6);
  border: 2px solid rgba(255,255,255,0.4);
}


ul#share-button li.share-button:nth-child(6n) {
  width:15%;
  margin: 0px 0px 0px 0px;
}

@media (max-width: 659px) {
  ul#share-button li.share-button {
    width:32%;
    margin: 0px 2% 5px 0px;
  }
}

@media (max-width: 659px) {
  ul#share-button li.share-button:nth-child(3n) {
    width:32%;
    margin: 0px 0px 5px 0px;
  }
  ul#share-button li.share-button:nth-child(6n) {
    width:32%;
    margin: 0px 0px 5px 0px;
  }
}

ul#share-button li.share-button a {
  font-size: 24px;
  font-weight: bold;
  line-height: 100%;
  color:#ffffff;
  display: block;
  padding: 8px 0px;
  margin: 0px;
  text-align:center;
  text-decoration: none;
  border-radius:5px;
}

@media (max-width: 659px) {
  ul#share-button li.share-button a {
    font-size: 28px;
    padding: 10px 0px;
  }
}

ul#share-button li.share-button.twitter {
  background-color: #1da1f2;
}

ul#share-button li.share-button.facebook {
  background-color: #3b5998;
}

ul#share-button li.share-button a.google_plus {
  background-color: #dd4b39;
}

ul#share-button li.share-button.hatena {
  background-color: #008fde;
  font-family: Verdana;
  font-weight: bold;
  font-style: normal;
}

ul#share-button li.share-button.pocket {
  background-color: #EE4056;
}

ul#share-button li.share-button.line {
  background-color: #00c300;
}

/* for short codes */
figure.figure {
    width: 80%;
    background-color: #fff9;
    border: solid 3px #fff;
    padding: 24px 32px 12px;
    margin: auto;
    font-weight: 400;
}

.figure img {
    width: 100%;
    margin: auto;
    box-sizing: content-box;
}
.figure p:not(:last-child) {
    margin-bottom: 4px;
}
.figure p.caption {
    font-size: 0.85em;
}
