<article class="article article-type-page article-summary">
  {{- $imageURL := "" -}}
  {{- if .Params.featured_image -}}
    {{- if $src := $.Page.Resources.GetMatch .Params.featured_image -}}
      {{- $preview := $src.Resize $.Site.Params.site.image_size_preview -}}
      {{- $imageURL = $preview.RelPermalink -}}
    {{- else -}}
      {{- $imageURL = .Params.featured_image -}}
    {{- end -}}
  {{- else if .Params.images -}}
    {{- $imageURL = index .Params.images 0 -}}
  {{- else -}}
    {{- $imageURL = "/noimage.png" -}}
  {{- end -}}

  <a class="featured-image" href="{{- .RelPermalink }}" style="background-image: url({{ $imageURL }});"></a>

  {{- if or (.Permalink) (.Title) }}
    <hgroup class="article-header">
      {{- partial "post/title.html" . }}
    </hgroup>
  {{- end }}

  <div class="article-entry text-muted" itemprop="description">
    {{- if .Description }}
        {{- .Description -}}
    {{ else if .Summary }}
        {{ .Summary | plainify }}{{ if .Truncated }}...{{ end }}
    {{- end }}
  </div>

  {{- partial "post/article-meta.html" . }}
</article>
