<article class="article article-type-page article-summary">
  {{- if .Params.featured_image -}}
    {{- if $src:= $.Page.Resources.GetMatch .Params.featured_image }}
      {{- $preview := $src.Resize $.Site.Params.site.image_size_preview }}
      <a class="featured-image" href="{{- .RelPermalink }}" style="background-image: url({{ $preview.RelPermalink }});">
      </a>
    {{- else }}
      <a class="featured-image" href="{{- .RelPermalink }}" style="background-image: url({{ .Params.featured_image }});">
      </a>
    {{- end }}
  {{- else if .Params.images }}
      <a class="featured-image" href="{{- .RelPermalink }}" style="background-image: url({{ index .Params.images 0 }});">
      </a>
  {{- else }}
    <a class="featured-image" href="{{- .RelPermalink }}" style="background-image: url(/noimage.png);">
    </a>
  {{ end -}}

  {{- if or (.Permalink) (.Title)}}
    <hgroup class="article-header">
      {{- partial "post/title.html" . }}
    </hgroup>
  {{- end }}

  {{- partial "post/article-meta.html" . }}

  <div class="article-entry text-muted" itemprop="description">
    {{- if .Description }}
        {{- .Description -}}
    {{ else if .Summary }}
        {{ .Summary }}...
    {{- end }}
  </div>
</article>
